@import "themey-colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", monospace;
  font-size: 14px;
  color: @themey_foreground;
}

#waybar {
  background: transparent;
  padding: 2px;
  margin: 0;
  border-radius: 5px;
}

#taskbar {
  font-size: 10px;
  padding: 2px 3px;
  color: @themey_foreground;
}

#workspaces {
  font-weight: 600;
  color: @themey_foreground;
}

#network {
  font-weight: 600;
}

#workspaces button {
  background: transparent;
  border: none;
  color: @themey_foreground;
  padding: 1px 3px;
  margin: 1px;
  border-radius: 2px;
  font-size: 10px;
}

#workspaces button:hover {
  background: @themey_bright_black;
  color: @themey_foreground;
}

#workspaces button.active {
  background: @themey_blue;
  color: @themey_background;
  font-weight: bold;
  border-radius: 80px;
  margin: 1px 2px;
}

#clock {
  color: @themey_foreground;
  font-weight: 600;
}

#tray {
  background: @themey_background;
  border-radius: 5px;
  padding: 5px;
  color: @themey_foreground;
}

#tray > .item {
  padding: 5px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

#tray > .item:hover {
  background: @themey_bright_black;
  color: @themey_foreground;
}

#tooltip {
  background: @themey_background;
  color: @themey_foreground;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.module {
  padding: 2px 4px;
  margin: 1px;
  background: @themey_background;
  border-radius: 7px;
  border-color: rgba(1, 1, 1, 1);
  font-size: 14px;
}

.module:hover {
  border-color: @themey_foreground;
}

.modules-left,
.modules-center,
.modules-right {
  background: @themey_background;
  border-radius: 12px;
  padding: 4px 8px;
  margin: 4px 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

#custom-launcher {
  color: @themey_cyan;
  font-size: 16px;
  transition: all 0.2s ease;
  padding: 2px 10px;
}

#custom-launcher:hover {
  color: @themey_bright_cyan;
}

#custom-notification {
  color: @themey_magenta;
  font-size: 16px;
}

#custom-system-stats {
  padding: 4px 8px;
  margin: 1px;
  background: @themey_background;
  border-radius: 7px;
  color: @themey_foreground;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease-out;
}

#custom-system-stats:hover {
  background: @themey_bright_black;
  color: @themey_foreground;
}

#custom-system-stats.collapsed {
  min-width: 30px;
  padding: 4px 6px;
}

#custom-system-stats.expanded {
  min-width: 120px;
  padding: 4px 10px;
}

#custom-ncspot {
  color: @themey_background;
  font-size: 14px;
  font-weight: 600;
  background: @themey_blue;
  border-radius: 8px;
  padding: 4px 8px;
}

#custom-sep {
  color: @themey_foreground;
  font-weight: 900;
}

#custom-bluetooth {
  font-weight: 600;
}

*:hover {
  background: none;
  box-shadow: none;
  border-color: @themey_bright_black;
}

