@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", monospace;
  font-size: 14px;
  color: @foreground;
}

#waybar {
  background: transparent;
  padding: 2px; 
  margin: 0; 
  border-radius: 5px; 
}

#taskbar {
  font-size: 10px;
  padding: 2px 3px;
  color: @foreground;
}

#workspaces {
  font-weight: 600;
  color: @foreground;
}

#network {
  font-weight: 600;
}

#workspaces button {
  background: transparent;
  border: none;
  color: @foreground;
  padding: 1px 3px; 
  margin: 1px; 
  border-radius: 2px; 
  font-size: 10px; 
}

#workspaces button:hover {
  background: @bright-black;
  color: @foreground;
}

#workspaces button.active {
  background: @blue;
  color: @background;
  font-weight: bold;
  border-radius: 80px;
  margin: 1px 2px;
}

#clock {
  color: @foreground;
  font-weight: 600;
}

#tray {
  background: @background;
  border-radius: 5px;
  padding: 5px;
  color: @foreground;
}

#tray > .item {
  padding: 5px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

#tray > .item:hover {
  background: @bright-black;
  color: @foreground;
}

#tooltip {
  background: @background;
  color: @foreground;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.module {
  padding: 2px 4px; 
  margin: 1px; 
  background: @background;
  border-radius: 7px; 
  border-color: rgba(1, 1, 1, 1);
  font-size: 14px; 
}

.module:hover {
  border-color: @foreground;    
}

.modules-left,
.modules-center,
.modules-right {
  background: @background;
  border-radius: 12px;
  padding: 4px 8px;
  margin: 4px 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

#custom-launcher {
    color: @cyan; 
    font-size: 16px;
    transition: all 0.2s ease;
    padding: 2px 10px; 
}

#custom-launcher:hover {
    color: @bright-cyan;
}

#custom-notification {
  color: @magenta;
  font-size: 16px;
}

#custom-system-stats {
  padding: 4px 8px;
  margin: 1px;
  background: @background;
  border-radius: 7px;
  color: @foreground;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease-out;
}

#custom-system-stats:hover {
  background: @bright-black;
  color: @foreground;
}

#custom-system-stats.collapsed {
  min-width: 40px;
  padding: 4px 6px;
}

#custom-system-stats.expanded {
  min-width: 120px;
  padding: 4px 10px;
}

#custom-ncspot {
  color: @background;
  font-size: 14px;
  font-weight: 600;
  background: @blue;
  border-radius: 8px;
  padding: 4px 8px;
}

#custom-sep {
	color: @foreground;
	font-weight: 900;
}

*:hover {
  background: none;
  box-shadow: none;
  border-color: @bright-black;
}
